### tuples

In [9]:
##declaratio 

tup = (10,20,30,40,33)

tup_float = (10.3,32.55)

tup_mixed =(10,22.32,"str", True )

print(type(tup_mixed),tup_mixed)

print(type(tup_float),tup_float)

print(type(tup),tup)

tup1 =(10) ## single value er khetre eita tupple nah hoi integer hoi jabe tkn convert kore nite hbe

print(type(tup1),tup1)

tup2 = tuple([10])## (10,)

print(type(tup2),tup2)

<class 'tuple'> (10, 22.32, 'str', True)
<class 'tuple'> (10.3, 32.55)
<class 'tuple'> (10, 20, 30, 40, 33)
<class 'int'> 10
<class 'tuple'> (10,)

In [11]:
### access tuple

tup =(10,20,30.12,"str", False)

print(tup[2])

new_tuple = tup[0:3]

print(new_tuple)

30.12
(10, 20, 30.12)

In [15]:
## mmutability

list =[10,20,30,40]

list.append(60)

print(list)

list[0]=100

print(list)

## immutability

tup = (10,20,30,40)
tup[1]=100

print(tup)

[10, 20, 30, 40, 60]
[100, 20, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [17]:
##tuple methode

tup =(10,20,30,20,10)

print(tup.count(10))
print(tup.index(20))

2
1

### set

In [22]:
## declaration
a ={1,2,3}

print(type(a),a)

## empty sets

b =[]

print(type(b),b)

c =()

print(type(c),c)

d = {}

print(type(d),d)

e = set()

print(type(e),e)

<class 'set'> {1, 2, 3}
<class 'list'> []
<class 'tuple'> ()
<class 'dict'> {}
<class 'set'> set()

In [23]:
s ={1,2,3}

if 3 in s:
    print("3 is present")
else:
    print("not present")

for element in s:
    print(element)

3 is present
1
2
3

In [29]:
s = {1,2,3,4}

s.add(5)
##s.clear(3)
s.pop()

s.remove(2)
print(s)

{3, 4, 5}

### methode of sets

In [35]:
a = {1,2,3,5,7}

b = {1,2,3,5,7,4,6}

print(a.union(b))

print(a.intersection(b))

## disjoint ==kono common takhbe nah

print(a.isdisjoint(b))

## subset

print(a.issubset(b))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 5, 7}
False
True

### dictonaries in python

In [38]:
##emty
dic = {}

print(type(dic))

##value

dic = { "name":"phitron","age":30,"addrss":"dhaka","list":[10,20,30]}

print(dic)

<class 'dict'>
{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30]}

In [43]:
##accesss
#dic_name[key]
print(dic["name"])
print(dic.get("age"))

##same key takhte parbe nah

phitron
30

### dictonary methode

In [46]:
##printing default value
print(dic)

print(dic.get("math_marks"))

## none nah dekhai vlue dekhaite chaile
print(dic.get("math_marks",0))

{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30]}
None
0

In [50]:
##adding vlues

print(dic)

dic["math_marks"]= 30
print(dic)

dic.update({"english_marks":30})

print(dic)

{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'math_marks': 30}
{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'math_marks': 30}
{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'math_marks': 30, 'english_marks': 30}

In [51]:
##deleting

del dic["math_marks"]

print(dic)

{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'english_marks': 30}

In [54]:
##copy
dic_2 = dic.copy()

print(dic_2)

{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'english_marks': 30}

In [55]:
dic_3 ={[1,2,3]:"a"}

print(dic_3)

TypeError: unhashable type: 'list'

In [56]:
dic_3 ={(1,2,3):"a"}

print(dic_3)

{(1, 2, 3): 'a'}

In [57]:
print(dic)

{'name': 'phitron', 'age': 30, 'addrss': 'dhaka', 'list': [10, 20, 30], 'english_marks': 30}

In [62]:
keys=dic.keys()

print(keys)

dic["math_number"]=30

print(keys)

### real time update hoi

values=dic.values()

print(values)

items=dic.items()

print(items)

dict_keys(['name', 'age', 'addrss', 'list', 'english_marks', 'math_number'])
dict_keys(['name', 'age', 'addrss', 'list', 'english_marks', 'math_number'])
dict_values(['phitron', 30, 'dhaka', [10, 20, 30], 30, 30])
dict_items([('name', 'phitron'), ('age', 30), ('addrss', 'dhaka'), ('list', [10, 20, 30]), ('english_marks', 30), ('math_number', 30)])

In [64]:


for key,value in dic.items():
    print(key,value)

name phitron
age 30
addrss dhaka
list [10, 20, 30]
english_marks 30
math_number 30

### dictonary comprehension

In [67]:
square = {x:x**2 for x in range(10)}

print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [69]:
co_ordinates=[(10,10.5),(20.5,123),(101,103)]
locations=["dhaka","ctg","rajshahi"]

exact_loc={co_o:loc for co_o,loc in zip(co_ordinates,locations)}

print(exact_loc)

{(10, 10.5): 'dhaka', (20.5, 123): 'ctg', (101, 103): 'rajshahi'}