### function parameter

In [4]:
def geet(user = "nabiul"):
    print(f"hello {user}")

In [5]:
geet()

hello nabiul

In [8]:
def square_add(a,b,c):

    print(f"{a} {b} {c}")
    a = a**2
    b = b**2
    c = c**2
    return a+b+c
ans = square_add(10,20,30)+10
print(ans)

10 20 30
1410

In [13]:
def Square(*args):
    sum = 0
    for i in args:
        i = i**2
        sum += i
    return sum
ans = Square(10,20,30,40,50)
print(ans)

5500

In [16]:
## pass key word argument

def student(**kargs):
    print(kargs)

student(name ="adil",cls = 10,roll = 30)

{'name': 'adil', 'cls': 10, 'roll': 30}

In [21]:
## output jeita diche eita dictonary teh diche
def student(**kargs):
    for key,val in kargs.items():
        print(f"{key}:{val}")

student(name ="adil",cls = 10,roll = 30)

name:adil
cls:10
roll:30

### return

In [22]:
def give_predict():
    return 10
type(give_predict())

int

In [23]:
def give_predict():
    return 10.11
type(give_predict())

float

In [25]:
def give_predict():
    return "name"
type(give_predict())

str

In [26]:
def give_predict():
    return 10,20
type(give_predict())

tuple

In [28]:
print(give_predict())

(10, 20)

In [31]:
x,y = give_predict()

print(x,y)

10 20

In [34]:
def give_one():
    a= [10,20,30]
    b= [20,30,40]
    return a,b
type(give_one())

##unpack 

x,y=give_one()

print(x)
print(y)

[10, 20, 30]
[20, 30, 40]

### iteration

In [5]:
s = {10,20,30}
s_iter = iter(s)

print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

10
20
30

StopIteration:

### generator

In [12]:
lst = [x for x in range(500)] # dataset

def data_loader(chunk_size,lst):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]
x = data_loader(5,lst)

print(next(x))
print(next(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

### lambda function

In [15]:
def square_root(x,y):
    return x**2+y**2
print(square_root(2,3))

13

In [16]:
y = lambda x,y : x**2+y**2

print(y(2,3))

13

In [18]:
if_even = lambda x : x%2==0

print(if_even(10))

True

### map function

In [19]:
lst = [1,2,3,4,5,6,8]

def square(x):
    return x**2
lst = list(map(square,lst))

print(lst)

[1, 4, 9, 16, 25, 36, 64]

In [25]:
strr = "my name nabiul"

string1 = list(map(str.upper,strr))

print(string1)

string1 = " ".join(string1)

print(string1)

['M', 'Y', ' ', 'N', 'A', 'M', 'E', ' ', 'N', 'A', 'B', 'I', 'U', 'L']
M Y   N A M E   N A B I U L

In [27]:
lst = [1,2,3,4,5,6,8]


lst = list(map(lambda x : x**2 if x%2==0 else x,lst))

print(lst)

[1, 4, 3, 16, 5, 36, 64]

### filter function

In [30]:
numbers = [x for x in range(100)]

#even
even = list(filter(lambda x : x%2 == 0,numbers))

print(even)

fifty_upper = list(filter(lambda x : x>50,numbers))

print(fifty_upper)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### reduce function

In [32]:
from functools import reduce

In [34]:
lst = [1,2,3,6,8,6]

summation = reduce(lambda x,y : x+y,lst)

print(summation)

26

In [35]:
def add(a,b=2):
    return a+b
print(add(3))

5